body{
    margin: 0;
    background-color: rgb(0, 15, 34);
  }


.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/surf.JPG");
  height: 100%;
  background-position: 40% 0;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding-top: 30vh;
  padding-bottom: 30vh;
  
  width: 100%;
  
  
}

  
  .hero-text {
      width: 100%;
      color: white;
      text-align: center;
    }
  
    nav{
      width: 100%;
      text-align: center;

    }

    @keyframes fade {
      from {opacity: 0%;}
      to {opacity: 100%;}
    }
  
  
    ul{
       padding-left: 0px;
    }
    a{
        
        border-style: solid;
        border-color: white;
        color: white;
        background: none;
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: 13pt;
        text-decoration: none;
        border-radius: 15px;
    }
  
    a:hover{
      background-color: rgba(0, 0, 0, 0.8);
  
    }

    .present{
        background-color: rgba(255, 255, 255, 0.3);
    }


    .title{
        display: inline-block;
        width: 79%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        
        vertical-align: top;

        border-style: solid;
        border-width: 0.5%;
        border-color: white;
    
        border-radius: 25px;
    }

    h1{
    
        color: white;
        
    }

    p{
    
        color: white;
        
    }
    
    h3{
        
        color: white;
        
    }

    article{
      border-style: solid;
      border-width: 0.5%;
      border-color: white;

      display: inline-block;
        width: 95%;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 2%;
        margin-right: 2%;

        padding-left: 10px;
        padding-right: 10px;

        animation-name: fade;
        animation-duration: 1s;
    }

    .subtitle {
      width: 40%;
      margin-left: 29%;
        margin-right: 29%;
      text-align: center;
      animation-name: fade;
        animation-duration: 1s;
    }

      
    img{
      border-style: solid;
      border-width: 0.5%;
      border-color: white;
      display: inline-block;  
      border-radius: 25px;

      width: 30%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 35%;
      margin-right: 35%;
      animation-name: fade;
        animation-duration: 1s;
    }
    

    label{
      color: white;
      margin-left: 9%;
    }
    input[type=text], select, textarea {
      width: 80%; /* Full width */
      margin-left: 9%;
      margin-right: 9%;

      padding: 12px; /* Some padding */ 
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      background-color: #04AA6D;
      margin-left: 9%;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    /* Add a background color and some padding around the form */
    .container {
      border-radius: 5px;
      background-color: #rgb(0, 15, 34);
      padding: 20px;
    }